label{
    display:block
}

.page-content{
    width: 70%;
    margin: auto;
}

:root{

    --teal-text: rgb(94, 255, 244);
    --pink-background: #ffa3d4;
    font-family: Comic Sans MS;
}

h1{
    margin: auto;
    text-align: center;
    font-size: 2em;
    transition: font-size 1s;
}

h1:hover{
    font-size: 3em;
}

img{
    width: 30%;
    height: 30%;
    display: block;
    margin: 5% auto 5% auto;
    transition: width 1s, height 1s;
}

img:hover{
    width: 35%;
    height: 35%
}

body{
    color: var(--teal-text);
    background-color: var(--pink-background);
}