label {
  display: block;
}

.page-content {
  width: 70%;
  margin: 0 auto 0 auto;
}

header{
  width: 100%;
  height: 5em;
  background-color: #cf2b70;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

nav {
  width: 100%;
  height: 4em;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

li > a {
  color: inherit;
  text-decoration: none;
}


:root {
  --teal-text: rgb(94, 255, 244);
  --pink-background: #ffa3d4;
  font-family: Comic Sans MS;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  transition: font-size 1s;
}


img {
  width: 30%;
  height: 30%;
  display: block;
  margin: 5% auto 5% auto;
  transition: width 1s, height 1s;
}

img:hover {
  width: 35%;
  height: 35%;
}

body {
  color: var(--teal-text);
  background-color: var(--pink-background);
}

.dance {
  animation: dance forwards infinite 600ms ease-in-out;
}

#submit {
  transition: scale 0.2s ease;
}

#submit:active {
  scale: 0.95;
}

@keyframes dance {
  0%,
  100% {
    opacity: 0.5;
    translate: -8rem;
    transform: rotate(-15deg);
  }
  50% {
    opacity: 1;
    translate: 8rem;
    transform: rotate(15deg);
  }
}

